Spray HTTP client doesn't notice remote server close in Chunk mode

Here is an example Spray server which aborts a large upload, and two clients which interact with it a) a Java `HttpURLConnection` and b) a Spray HTTP client.
https://gist.github.com/RichardBradley/4b914b2399543b8f4d59

Everything seems to work fine, except that the Spray HTTP client doesn't notice when the connection is closed at the remote end. I'd expect my client to get a `ConnectionClosed` message in this case, but it doesn't.

(Also the Java client can't read the response, but that's a known limitation of that client.)

/cc @jrudolph 

(See also https://github.com/akka/akka/issues/18203 for the same scenario in Akka HTTP )


During the test, the following dead letter is logged:

```
[INFO] [10/01/2015 08:20:06.677] [default-akka.actor.default-dispatcher-5] [akka://default/system/IO-TCP/selectors/$a/1] Message [akka.io.Tcp$Close$] 
  from Actor[akka://default/user/IO-HTTP/group-0/0#424065311] to Actor[akka://default/system/IO-TCP/selectors/$a/1#826331771] was not delivered.
   [1] dead letters encountered. This logging can be turned off or adjusted with configuration settings 'akka.log-dead-letters' and 'akka.log-dead-letters-during-shutdown'.
```

The two actors involved have the following classes:

```
Actor[akka://default/user/IO-HTTP/group-0/0#424065311] => spray.can.client.HttpClientConnection
Actor[akka://default/system/IO-TCP/selectors/$a/1#826331771] => akka.io.TcpOutgoingConnection
```

I think that the connection actor should send a connection closed message to the client actor.

The relevant docs about this are: 
 * http://spray.io/documentation/1.2.3/spray-can/http-client/#chunked-requests
 * http://spray.io/documentation/1.2.3/spray-can/http-client/connection-level/#connectionlevelapi

In particular, the second says:

> Close notification events are dispatched to the senders of all requests that still have unfinished responses pending as well as all actors that might have already sent Http.CloseCommand messages.

... which isn't happening in this case, which is a bug IMO.

I can work around this for now by watching the connection actor for its death.




For me it works exactly as specified in the docs you quote:
 * if the connection is closed during the request, i.e. before a response has been dispatched the client receives a notification
 * after the client has received the response (even if it has not finished sending the request) it does not receive any notification that the connection was closed afterwards

The implications of the second point may be somewhat unexpected, that the original creator of the connection (the actor that sent the `Connect` message) does not receive any notifications after the connection has been established. But as you say, one can work around this by watching the Http connection actor.

Here's the version I tested:

https://gist.github.com/jrudolph/ba6545a5d1b4ec7cac38

You made one key change, which means this version doesn't do what I need:
In the server, you replaced:

    sender() ! HttpResponse(StatusCodes.RequestEntityTooLarge/*, headers = Connection("close") :: Nil*/)

with:

    sender() ! Http.Abort


This means that the client never receives the error message response; it just sees an aborted connection.

So my questions are:
 1. Why does the server using "Http.Abort" cause the client to notice the closed connection, whereas the server using "Connection: close" leaves the client in zombie state (uploading to a dead connection). Are these two different kinds of "close"?
 2. How can I both return a response and then close the connection? I'd like to include the max upload size in the response in my app. Responding with "connection: close" seems to work in Akka HTTP, see #18203


Yes, right, I forgot to explain that change. 

I put this alternative line in to illustrate the above bullet points. Depending on which line you choose you get one of the above bullet points. If you use `Connection: close` you get the second bullet point in which case everything is as you observed which may be unexpected but is working as specified.

So, if you don't control the server and its exact connection closure semantics, I would watch the connection actor and then look out both for `Terminated(connectionActor)` and `ConnectionClosed` messages.

Hmm, ok, thanks.

So you are saying that the precise wording of the docs applies here:

> Close notification events are dispatched to the senders of all requests that still have unfinished responses pending as well as all actors that might have already sent Http.CloseCommand messages.

i.e. because this client does not have an unfinished response pending, it won't get notified of the close?

That seems like a tricky edge case to me. Why not either a) have the client watch the connection actor for death in all cases, rather than send close notifications at all or b) include uncompleted requests in this list of who gets notified?

Maybe I'll clarify the docs. This only applies to chunked requests. How about the following addition to http://spray.io/documentation/1.2.3/spray-can/http-client/#chunked-requests ?

> Very large chunked requests (large uploads) are at risk of the server responding early and closing the connection (for example with a 413 response). Clients sending a chunked requests should watch for either a `Tcp.ConnectionClosed` message or a `HttpResponse` message from Spray and stop sending the request on receipt of either one. (See RFC 7230 section 6.5.)

@RichardBradley Yes, that's a good description of the situation.

IIRC one reasoning not to send too many notifications is that it is likely that they will end up in DeadLetters if the "owning" actor changes over the life-time of the connection. This is all a bit fuzzy but as long as there are working solutions it is unlikely we will change the existing behavior in spray any more, especially for the more tricky situations of streaming / chunked requests which will have better solutions in akka-http.