Want a way to config default HttpCharsets

Currently these's no way to config it which is hard coded as `ISO-8859-1`.
I have tried custom directives but giving that HttpData is already encoded before passed to my directives, It's hard to fix the misencoded Strings.

Could you please post a code example that illustrates the problem you need to be fixed?

For example, the request is 
···
User-Agent: Mozilla/4.0
Accept: */*
Host: 54.201.188.151
Pragma: no-cache
Content-Length: 282
Content-Type: text/xml

<xml><ToUserName><![CDATA[123456]]></ToUserName>
<FromUserName><![CDATA[123231232]]></FromUserName>
<CreateTime>1423709842</CreateTime>
<MsgType><![CDATA[text]]></MsgType>
<Content><![CDATA[cc ......(some unicode characters)]]></Content>
<MsgId>6114787210588045455</MsgId>
</xml>
···
routes：
handleWith {
            msg:NodeSeq =>
...
}

Since the request didn't mention charactersets but only text/xml. I got a mis-decoded NodeSeq in the handleWith block. And I figure that in spray.http.ContentType 
```
  def charset: HttpCharset = definedCharset getOrElse HttpCharsets.`ISO-8859-1`
```
and HttpParser will use that code to build HttpData
```
if (string.isEmpty) Empty else new Bytes(createByteStringUnsafe(string getBytes charset.nioCharset))
```
which I have no means to interfer until I get that wrong encoded data.

[RFC 2616 Section 3.7.1](http://tools.ietf.org/html/rfc2616#section-3.7.1) defined the rules for determining the charset for text content as follows:

> The "charset" parameter is used with some media types to define the
> character set (section 3.4) of the data. When no explicit charset
> parameter is provided by the sender, media subtypes of the "text"
> type are defined to have a default charset value of "ISO-8859-1" when
> received via HTTP. Data in character sets other than "ISO-8859-1" or
> its subsets MUST be labeled with an appropriate charset value.

The latest HTTP spec has changed this special status of `ISO-8869-1`. [RFC 7231 Appendix B. Changes from RFC 2616](http://tools.ietf.org/html/rfc7231#appendix-B) says:

> The default charset of ISO-8859-1 for text media types has been
> removed; the default is now whatever the media type definition says.

Unfortunately, for many media types the definition doesn't really "say" anything.
Looking at the state of the specs and the current spray implementation I'd be inclined to simply change the `ISO-8869-1` default in spray to `UTF-8` as it is almost always the right choice.
Looking at the code this change doesn't appear to be hard to do.

@jrudolph What do you think about changing the default from `ISO-8869-1` default in spray to `UTF-8`?

It's hard to say if this would fix more issues than it would break currently.

In any case, I think the original ticket isn't valid, because the aforementioned line

```scala
if (string.isEmpty) Empty else new Bytes(createByteStringUnsafe(string getBytes charset.nioCharset))
```

isn't related to the parser at all.

So, there should be always the workaround to change the content-type of incoming requests to include a charset if none was supplied.

I'm a bit reluctant to change the overall behavior (at least as long as there's no simple way to configure it back to the old one).

Ok, true. I can always map the request Content-Type and attach a custom `charset=...` parameter if I really need to. So I agree with you in not touching this rather basic logic in spay anymore.
Closing.